<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New Mongoose!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>

  <body>
    <section class="section">
      <div class="container">
        <h1 class="title">
          New mongoose
        </h1>
        <p class="subtitle">
          My second website with <strong>MongoDB</strong>!
          <a href="/" class="button is-warning">Back</a>
        </p>
        <% if(messages.editingMongooses) { %>
          <% for(var message of messages.editingMongooses) { %>
            <h2 class="has-text-danger"> <%= message %> </h2>
          <% } %>
        <% } %>
        <div class="box">
          <form action="/mongooses/<%= data._id %>" method="POST">
            <div class="field">
              <label class="label">Mongoose Name</label>
              <div class="control">
                <input class="input" name="name" type="text" placeholder="" value=<%= data.name %>>
              </div>
            </div>
            <div class="field">
              <label class="label">Mongoose Color</label>
              <div class="control">
                <input class="input" name="color" type="text" placeholder="" value=<%= data.color %>>
              </div>
            </div>
            <div class="control">
              <button class="button is-danger">Edit</button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </body>

</html>