<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Epic Button Game!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        var socket = io(); // 1
        $("#green_form").submit(function (event) {
          socket.emit("green", {
            color: 'green',
          });
        });
        $("#blue_form").submit(function (event) {
          socket.emit("blue", {
            color: 'blue',
          });
        });
        $("#yellow_form").submit(function (event) {
          socket.emit("yellow", {
            color: 'yellow',
          });
        });
        socket.on('color', function(data) {
          $("#body").css('background-color', data.data);
        });
      });
    </script>
    <style>
    .form {
      display: inline-block;
    }

    body {
      width: 0 auto;
      min-height: 960px;
    }
    </style>

  </head>

  <body id="body">
    <section class="section">
      <div class="container">
        <div class="box">
          <form action="" class="form" id="green_form">
            <div class="control">
              <button class="button is-info has-background-primary is-large">Green</button>
            </div>
          </form>
          <form action="" class="form" id="blue_form">
            <div class="control">
              <button class="button is-info has-background-info is-large">Blue</button>
            </div>
          </form>
          <form action="" class="form" id="yellow_form">
            <div class="control">
              <button class="button is-info has-background-warning is-large">Yellow</button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
