<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Hello Bulma!</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css"
    />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
  </head>
  <body>
    <div class="container">
      <section class="section">
        <h1 class="title">
          Quate Ranks
        </h1>
        <button [routerLink]="['/write', authorid]" class="button is-text">
          Add a a quote
        </button>
        <button [routerLink]="['/']" class="button is-text">
          Home
        </button>
        <p class="subtitle">
          We have quotes by: {{ author?.name }}<strong></strong>
        </p>
      </section>
      <section>
        <table class="table is-bordered">
          <thead>
            <tr>
              <th>Quotes</th>
              <th>Votes</th>
              <th>Actions available</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let quote of authorQuotes?.quotes">
              <th>{{ quote.title }}</th>
              <th>{{ quote.vote }}</th>
              <th>
                <button
                  class="button is-text"
                  type="submit"
                  [routerLink]="['/quotes']"
                >
                  Vote Up
                </button>
                <button
                  class="button is-text"
                  type="submit"
                  [routerLink]="['/quotes']"
                >
                  Vote Down
                </button>
                <button
                  class="button is-text"
                  type="submit"
                  (click)="deleteQuote(quote)"
                >
                  Delete
                </button>
              </th>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
  </body>
</html>
