<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Hello Bulma!</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css"
    />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
    <style></style>
  </head>
  <body>
    <div class="container">
      <section class="section">
        <div class="box">
          <p class="subtitle has-text-primary">
            The product component has a green text!
          </p>
          <router-outlet></router-outlet>
        </div>
      </section>
    </div>
  </body>
</html>
