<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Hello Bulma!</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css"
    />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
  </head>
  <body>
    <div class="container">
      <section class="section">
        <h1 class="title">
          Products List
        </h1>
        <p class="subtitle"></p>
        <div class="column is-one-quarter" *ngFor="let product of products">
          <div class="box">
            <p class="has-text-info">Title - {{ product.title }}</p>
            <p class="has-text-info">Price - {{ product.price }}</p>
            <img src="{{ product.image_url }}" width="112" height="128" />
            <br />
            <button
              [routerLink]="['/products', 'edit', product._id]"
              class="button is-text"
            >
              Edit
            </button>
            <button (click)="deleteProduct(product._id)" class="button is-text">
              Delete
            </button>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
