<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Our Login/Registration</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link href="~bulma-calendar/dist/css/bulma-calendar.min.css" rel="stylesheet">
    <script src="~bulma-calendar/dist/js/bulma-calendar.min.js"></script>
  </head>

  <body>
    <section class="section">
      <div class="container">
          <% if(messages.users) { %>
            <% for(var message of messages.users) { %>
              <h2 class="has-text-danger"> <%= message %> </h2>
            <% } %>
          <% } %>
          <% if(messages.register) { %>
            <% for(var message of messages.register) { %>
              <h2 class="has-text-danger"> <%= message %> </h2>
            <% } %>
          <% } %>
        <h1 class="title">
          Hello There!
        </h1>
        <p class="subtitle">
          My first website with <strong>Authentication using MongoDB</strong>!
        </p>
        <div class="columns">
          <div class="column">
            <p class="subtitle">Login</p>
            <form action="/login" method="POST">
              <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input class="input" name="email" type="email" placeholder="Email">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control has-icons-left">
                  <input class="input" name="password" type="password" placeholder="Password">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <button class="button is-success">
                    Login
                  </button>
                </p>
              </div>
            </form>
          </div>
          <div class="column">
            <p class="subtitle">Register</p>
            <form action="/register" method="POST">
              <div class="field">
                <label class="label">First Name</label>
                <div class="control">
                  <input class="input" name="first_name" type="text" placeholder="">
                </div>
              </div>
              <div class="field">
                <label class="label">Last Name</label>
                <div class="control">
                  <input class="input" name="last_name" type="text" placeholder="">
                </div>
              </div>

              <div class="field">
                <label class="label">Email</label>
                <p class="control has-icons-left has-icons-right">
                  <input class="input" name="email" type="email" placeholder="">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <label class="label">Password</label>
                <p class="control has-icons-left">
                  <input class="input" name="password" type="password" placeholder="">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <label class="label">Birthday</label>
                <p class="control has-icons-left">
                  <input type="date" name="birthday" placeholder="" class="input">
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <button class="button is-info">
                    Register
                  </button>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </body>

</html>