<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#peopleBtn').click(function () {
        // let's make the request to our OWN server!
        $.get('/people', function (data) {
          // log the data to be sure we have it before we dive into 
          // manipulation the DOM
          console.log("got the data", data);
          document.getElementById('here').innerHTML = data.name;
        }, 'json');
      });
    });
           
  </script>

  <body>
    <section class="section">
      <div class="container">
        <h1 class="title">
          Hello World
        </h1>
        <p class="subtitle">
          My first website with <strong>Bulma</strong>!
        </p>
        <a class="button is-success is-inverted">Inverted</a>
        <div class="box">
          <article class="media">

            <div class="media-content">
              <div class="content">
                <button class="button" id="peopleBtn">People</button>
                <strong></strong> <small>@johnsmith</small> <small>31m</small>
                <br>
                <p id="here">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla
                  egestas. Nullam condimentum luctus turpis.
                </p>
              </div>

            </div>
          </article>
        </div>
      </div>
    </section>
  </body>

</html>